.cart-item {
    display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.total-price {
    margin: 50px;
}

#total-items {
    margin: 50px;
}

#total-discounted-price {
    margin: 50px;
}

.empty-cart-message {
    margin: 50px;
}
.checkout {
    margin: 0px 50px;
}