@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    font-family: 'Poppins';
}
label {
    font-size: 1rem;
    margin-bottom: 0px !important;
}

/* Larger font size for screens with a max-width of 768px */
@media (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem !important;
    }
}

/* Even larger font size for screens with a max-width of 480px */
@media (max-width: 480px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem !important;
    }
}

.nav {
    flex-direction: column;
    height: 80px !important;
    padding: 20px !important;
}

.logo {
    padding: 10px;
    color: black !important;
}

form {
    padding: 0px;
    gap: 20px;
    display: flex;
}

form a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(229, 229, 229);
    padding: 10px;
    color: black !important;
    border-radius: 50%;
}

hr {
    margin: 0 !important;
    border-top: 1px solid rgb(229, 229, 229) !important;
}

.col-lg-10 {
    background-color: rgb(251, 251, 251) !important;
    padding-bottom: 100px
}

.side-bar {
    padding: 30px;
}

.bottom-nav {
    display: none !important;
}

#toast-container {
    margin-top: 80px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}

.toast {
    position: relative;
    background-color: #333;
    color: black;
    padding: 30px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.toast.show {
    display: block;
}

.toast-message {
    margin-right: 30px;
}

.toast-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

.noUi-target{
    border-radius: 25px !important;
}

.noUi-horizontal{
    height: 5px !important;
}

.noUi-handle:after,
.noUi-handle:before{
    display: none !important;
}
.noUi-connect {
    background-color: rgb(1, 116, 129) !important;
}

.noUi-horizontal .noUi-handle{
    width: 20px !important;
    height: 20px !important;
    border-radius: 25px !important;
    top: -9px !important;
}

#search-input {
    border-radius: 25px;
    padding: 20px;
    border: 2px solid rgb(229, 229, 229);
}

.fa-filter {
    display: none !important;
}

.category-mobile {
    display: none;
}

#right-menu {
    display: none;
}

#CategoryFilter {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#CategoryFilter label {
    margin-right: 10px;
    font-size: 1rem;
    color: #333;
    margin-top: -22px;
    margin-left: 40px;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"]:checked {
    background-color: rgb(1, 109, 123);
    border-color: rgb(229, 229, 229);
}

input[type="checkbox"]:checked+label {
    color: rgb(1, 109, 123);
}

.vl {
    border-right: 1px solid rgb(229, 229, 229);
    height: auto;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sorts {
    display: flex;
    padding: 30px;
}

.main-body {
    display: none;
}

#sort-dropdown,
#itemsPerPage {
    border: none !important;
    background-color: rgb(251, 251, 251) !important;
}


#sort-container {
    text-align: end;
    border: 2px solid rgb(229, 229, 229);
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    font-size: 1rem !important;
}


.item-sort {
    border: 2px solid rgb(229, 229, 229);
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    font-size: 1rem !important;
}


#no-products-found {
    width: 100%;
    text-align: center;
}

#no-products-found img {
    width: 50%;
    height: 50%;
}

.sort-product {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin: 20px 20px;
}

.card {
    border: 2px solid rgb(229, 229, 229);
    border-radius: 20px !important;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    padding: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: contain;
    height: 250px;

}

.discount-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgb(255, 209, 205);
    color: rgb(244, 118, 109);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

.wishlist-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: none;
    color: rgb(167, 160, 159);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.category-show {
    background-color: rgb(165, 219, 142);
    color: rgb(0, 159, 34);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    width: max-content;
    
}

.product-title {
    height: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    font-size: 1rem;
}



.card-text {
    color: black;
    font-size: 1.4rem;
}

p {
    color: black;
}

a {
    text-decoration: none;
}

.addToCartBtn {
    background-color: #007481 !important;
    color: white;
    width: 50%;
    border: none;
    padding: 5px 20px !important;
    border-radius: 25px !important;
    border-color: none !important;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

#prev-page,
#next-page {
    display: none;
    background-color: #007481 !important;
    border: none;
    padding: 5px 20px !important;
    border-radius: 25px !important;
    border-color: none !important;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50% ;
    color: black;
    border: none;
}

.category {
    margin-top: 50px;
}

.pagination button.active {
    background-color: #007481 !important;
    color: white;
}

@media only screen and (max-width:1024px) {
    label {
            font-size: 0.6rem !important;
        }
    
        .col-lg-10 {
            max-width: 100% !important;
            flex: 100% !important;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    
        .main-body {
            display: flex;
            padding: 10px;
            padding-bottom: 0;
        }
    
        .col-sm-6 {
            width: 50% !important;
            padding-right: 5px !important;
            padding-left: 5px !important;
        }
    
        .nav {
            display: none !important;
        }
    
        .bottom-nav {
            display: flex !important;
            width: 100% !important;
            border-top: 1px solid rgb(229, 229, 229);
            justify-content: space-between !important;
            align-items: center;
            text-align: center;
            padding: 10px 30px;
            background-color: white !important;
        }
    
        .nav-link {
            width: 30px;
            color: rgb(173, 173, 173);
            padding: 0 !important;
        }
    
        .nav-link p {
            font-size: 0.6rem;
            color: rgb(173, 173, 173);
            margin-bottom: 0 !important;
        }
    
        .nav-link.active {
            color: #007481;
        }
    
        .side-bar {
            padding: 0;
            display: none !important;
        }
    
        .category {
            margin-top: 0;
        }
    
        .vl {
            display: none !important;
        }
    
        .sorts {
            width: 100% !important;
        }
    
        .item-sort {
            font-size: 0.6rem !important;
            width: 100%;
        }
    
    
        .row {
            padding: 0 5px !important;
            margin-top: 0px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    
        .input-group {
            gap: 10px;
            margin-bottom: 0 !important;
        }
    
        #sort-container {
            margin-bottom: 0px;
            font-size: 0.6rem !important;
            width: 100%;
        }
    
        #sort-dropdown {
            width: 50% !important;
        }
    
        .sort-product {
            padding: 10px;
            margin: 0;
        }
    
        .fa-filter {
            display: block !important;
        }
    
        .category-mobile {
            display: block;
        }
    
        #CategoryFilter {
            margin-top: 20px;
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            align-items: flex-start;
        }
    
        .card-body {
            padding: 10px !important;
        }
    
        .card img {
            height: 150px;
        }
    
        .discount-badge {
            font-size: 0.6rem !important;
        }
    
        .category-show {
            font-size: 0.6rem;
        }
    
        .card-title {
            font-size: 0.8rem;
        }
    
        .card-text {
            font-size: 1rem;
        }
    
        .menu-icon {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 45px;
            border: 2px solid rgb(229, 229, 229) !important;
            border-radius: 50%;
            padding: 10px;
        }
    
        .buttons {
            margin-bottom: 50px;
        }
    
        .right-body {
            padding: 20px;
        }
    
        #right-menu {
            display: block;
            position: fixed;
            right: -300px;
            top: 0;
            width: 300px;
            height: 100%;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            transition: right 0.3s ease-in-out;
            z-index: 2000;
        }
    
        #right-menu.show {
            right: 0;
        }
    
        #close-button {
            width: 30px !important;
            height: 30px !important;
            left: 230px;
            position: relative;
        }
    
}


@media only screen and (max-width: 768px) {
    label{
        font-size: 0.6rem !important;
    }
    .col-lg-10{
        padding-right: 0 !important ;
        padding-left: 0 !important;
    }
    .main-body {
        display: flex;
        padding: 10px;
        padding-bottom: 0;
    }

    .col-sm-6 {
        width: 50% !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .nav {
        display: none !important;
    }

    .bottom-nav {
        display: flex !important;
        width: 100% !important;
        border-top: 1px solid rgb(229, 229, 229);
        justify-content: space-between !important;
        align-items: center;
        text-align: center;
        padding: 10px 30px;
        background-color: white !important;
    }

    .nav-link {
        width: 30px;
        color: rgb(173, 173, 173);
        padding: 0 !important;
    }
    .nav-link p{
        font-size: 0.6rem;
        color: rgb(173, 173, 173);
        margin-bottom: 0 !important;
    }
    
    .nav-link.active {
        color: #007481;
    }

    .side-bar {
        padding: 0;
        display: none !important;
    }

    .category {
        margin-top: 0;
    }

    .vl {
        display: none !important;
    }

    .sorts {
        width: 100% !important;
    }

    .item-sort {
        font-size: 0.6rem !important;
        width: 100%;
    }


    .row {
        padding: 0 5px !important;
        margin-top: 0px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .input-group {
        gap: 10px;
        margin-bottom: 0 !important;
    }

    #sort-container {
        margin-bottom: 0px;
        font-size: 0.6rem !important;
        width: 100%;
    }

    #sort-dropdown {
        width: 50% !important;
    }

    .sort-product {
        padding: 10px;
        margin: 0;
    }

    .fa-filter {
        display: block !important;
    }

    .category-mobile {
        display: block;
    }

    #CategoryFilter {
        margin-top: 20px;
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: flex-start;
    }

    .card-body {
        padding: 10px !important;
    }

    .card img {
        height: 150px;
    }

    .discount-badge {
        font-size: 0.6rem !important;
    }

    .category-show {
        font-size: 0.6rem;
    }

    .card-title {
        font-size: 0.8rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 45px;
        border: 2px solid rgb(229, 229, 229) !important;
        border-radius: 50%;
        padding: 10px;
    }

    .buttons {
        margin-bottom: 50px;
    }

    .right-body{
        padding: 20px;
    }

    #right-menu {
        display: block;
        position: fixed;
        right: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        z-index: 2000;
    }

    #right-menu.show {
        right: 0;
    }
    #close-button{
        width: 30px !important;
        height: 30px !important;
        left: 230px;
        position: relative;
    }
}