@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat';
}

.main-body {
    padding: 30px;
}

.side-bar {
    padding: 30px;
}

.navbar {
    background-color: #333;
    color: white;
}

.navbar-brand img {
    border-radius: 50%;
}

.navbar-brand img:hover {
    opacity: 0.8;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.bottom-nav {
    display: none !important;
}

#toast-container {
    margin-top: 80px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}

.toast {
    position: relative;
    background-color: #333;
    color: black;
    padding: 30px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.toast.show {
    display: block;
}

.toast-message {
    margin-right: 30px;
}

.toast-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}

#search-input {
    border-radius: 25px;
    padding: 10px;
    border-color: #343a40;
}

.fa-filter {
    display: none !important;
}

.categorymobile {
    display: none;
}

#right-menu {
    display: none;
}

#CategoryFilter {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    flex-direction: column;
}

label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"]:checked {
    background-color: #343a40;
    border-color: #343a40;
}

input[type="checkbox"]:checked+label {
    color: #343a40;
    font-weight: bold;
}

.vl {
    border: 1px solid #343a40;
    height: auto;
}

#sort-dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

#sort-container {
    text-align: end;
    margin: 30px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10% !important;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: contain;
    height: 200px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.card-text {
    color: black;
    font-size: 1rem;
}

p {
    color: black;
}

a {
    text-decoration: none;
}

.addToCartBtn {
    background-color: #007481 !important;
    color: white;
    width: 50%;
    border: none;
    padding: 5px 20px !important;
    border-radius: 25px !important;
    border-color: none !important;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#prev-page,
#next-page {
    background-color: #007481 !important;
    border: none;
    padding: 5px 20px !important;
    border-radius: 25px !important;
    border-color: none !important;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    background-color: white;
    border: none;
    color: grey;
}

.category {
    margin-top: 50px;
}

.pagination button.active {
    color: black;
}

.price-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.price-slider label {
    font-weight: bold;
    margin-bottom: 5px;
}

#price-range {
    margin-top: 20px;
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
}

#price-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #343a40;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

#price-range-value {
    font-weight: bold;
    margin-top: 5px;
}

#price-range:focus,
#price-range:active {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media only screen and (max-width: 768px) {
    .main-body {
        padding: 10px;
        margin-top: 20px;
    }

    .col-sm-6 {
        width: 50% !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .top-nav {
        display: none !important;
    }

    .bottom-nav {
        display: flex !important;
        flex-direction: column;
    }

    form {
        justify-content: space-between;
        margin-bottom: 0 !important;
    }

    .side-bar {
        padding: 0;
        display: none !important;
    }

    .category {
        margin-top: 0;
    }

    .vl {
        display: none !important;
    }

    .row {
        padding: 0%;
        margin-top: 10px !important;
    }

    .input-group {
        gap: 20px;
    }

    #search-input {
        width: 70%;
    }

    #sort-container {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .fa-filter {
        display: block !important;
    }

    .categorymobile {
        display: block;
    }

    #CategoryFilter {
        margin-top: 20px;
        display: flex;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        align-items: flex-start;
    }
    .card img{
        height: 100px;
    }

    .card-title{
        font-size: 15px;
    }

    .card-text{
        font-size: 11px;
    }

    .menu-icon {
        cursor: pointer;
        border: 1px solid #343a40 !important;
        border-radius: 50%;
        padding: 10px;
    }
         .buttons {
             margin-bottom: 50px;
         }


    #right-menu {
        display: block;
        position: fixed;
        right: -300px;
        width: 250px;
        height: auto;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        z-index: 2000;
    }

    #right-menu.show {
        right: 0;
    }
}