.product-details {
    display: grid;
}

.product-details h2 {
    margin: 20px;
}

.product-details p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.carousel-inner {
    transition-duration: 1s;
}

.carousel-inner img {
    height: 400px;
}

.btns {
    display: flex;
    text-align: center;

}

#prevButton,
#nextButton {
    height: 50px !important;
    margin-top: 200px;
}