.nav {
  flex-direction: column;
  height: 80px !important;
  padding: 20px !important;
}

.logo {
  padding: 10px;
}

#search-input {
  border-radius: 25px;
  padding: 20px;
  border: 2px solid rgb(229, 229, 229);
}

form {
  padding: 0px;
  gap: 20px;
  display: flex;
}

form a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid rgb(229, 229, 229);
  padding: 10px;
  color: black !important;
  border-radius: 50%;
}

hr {
  margin: 0 !important;
  border-top: 1px solid rgb(229, 229, 229) !important;
}

.bottom-nav {
  display: none !important;
}
.product-body {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex !important;
}

.product-detail-container {
  width: 100% !important;
  display: flex !important;
  padding: 0 20px;
}

.product-images {
  width: 50% !important;
  position: relative;
}

.slider-for{
  width: 100%;
  text-align: center;
}

.slider-for img{
  height: 400px;
  width: 100%;
  object-fit: contain !important;
  display: inline !important;
  border-radius: 10px !important;
}

.slider-nav{
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 20px;
}
.slider-nav .slick-slide{
  border: 1px solid #ccc;
  margin: 0px 10px;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  height: 100px;
}
.slider-nav .slick-slide:hover,.slider-nav .slick-current{
  border:1px solid #007481;
}

.buttons{
  padding: 0 20px;
  display: flex;
  justify-content: space-between !important;
  top: 220px;
  position: relative;
  z-index: 1000;
}

.prev,.next{
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color: white;
}

.slider-nav img{
  height: 100%;
 width: 100%; 
 object-fit: contain;
}

.product-details {
  width: 50% !important;
  padding: 20px 30px;
}

.product-details p {
  margin: 0;
  font-size: 16px;
}

.product-title{
  margin-top: 20px;
}
.desc{
  margin-top: 20px !important;
  font-size: 20px !important;
}

.price{
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.price del{
  margin-top: 5px;
  color: #ccc;
}
.price del p{
  font-size: 20px;
}

.price p{
  font-size: 25px;
}

.quantity{
  margin-top: 50px;
}

.butns {
  display: flex;
  gap: 30px;
}

.addToCartBtn {
  margin-top: 50px;
  background-color: #007481 !important;
  color: white;
  padding: 5px 20px !important;
  border-radius: 25px !important;
  border-color: #007481 !important;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.mob-bottom {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none !important;
  }
  .product-body{
    margin-top: 0;
    margin-bottom: 100px;
  }
  .price{
    margin-top: 10px;
  }
  .price del{
    color:#ccc;
  }
  .price del p{
    font-size: 20px !important;
  }
  .price p{
    font-size: 25px !important;
  }
  .quantity {
    margin: 10px 0;
  }
  .product-title{
    font-size: 20px;
  }
.container{
  padding-right: 10px !important;
  padding-left: 10px !important;
}
  .bottom-nav {
    display: flex !important;
    width: 100% !important;
    border-top: 1px solid rgb(229, 229, 229);
    justify-content: space-between !important;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    background-color: white !important;
  }

  .nav-link {
    width: 30px;
    color: rgb(173, 173, 173);
    padding: 0 !important;
  }

  .nav-link p {
    font-size: 10px;
    color: rgb(173, 173, 173);
    margin-bottom: 0 !important;
  }

  .nav-link.active {
    color: #007481;
  }

 .product-detail-container{
  display: block !important;
  padding: 0 15px !important;
 }
 .product-images{
  width: 100%  !important;
 }
 .slider-for img{
  width: 100%;
  object-fit: contain;
 }
 .slider-nav{
  padding: 0;
 }

 .buttons{
  padding: 0;
 }
 .product-details{
  width: 100% !important;
  padding: 0px;
 }
 .product-details p{
  font-size: 12px;
 }
 .desc{
  font-size: 13px !important;
 }

  .butns {
    display: none;
  }

  .addToCartBtn {
    margin-top: 0;
    width: 50% !important;
  }

  .mob-bottom {
    padding: 0 10px;
    margin-left: 0;
    background-color: rgb(246, 246, 246);
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    gap: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70px;
  }
  .mob-bottom p{
    display: block;
    margin-bottom: 0 !important;
  }
}