@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    font-family: 'Poppins';
}

label {
    font-size: 0.8rem;
    margin-bottom: 0px !important;
}

/* Larger font size for screens with a max-width of 768px */
@media (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem !important;
    }
}

/* Even larger font size for screens with a max-width of 480px */
@media (max-width: 480px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem !important;
    }
}